header {
    width: 100%;
    border: none;
    background-color: gainsboro;
    box-shadow: slategrey 0px 0px 20px 0px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding: 20px 50px;

    position: fixed;

}
header .logo img {
    width: 40px;
    height: 40px;
}
header .navbar {
    display: flex;
    gap: 10px;
}
/* header .h2 {
    justify-items: end;
} */

header .navbar a li {
    padding: 5px 15px;
    transition: 0.5s;
    color: darkslategrey;
}
header .navbar a li:hover {
    box-shadow: slategrey 0px 0px 10px 0px;
    border-radius: 8px;
}

header .h2 span:nth-child(2) {
    color: darkred;
}



.container {
    margin: 0 auto;
    width: 70%;
    padding: 150px 0px;
    display: flex;
}
.container .row-left {
    flex-grow: 1;
    padding: 10px;
}
.row-left .btn {
    padding: 5px 20px;
    border: none;
    background-color: slategrey;
    color: whitesmoke;
}
.row-left .btn:hover {
    opacity: 0.5;
}
.input {
    width: 100%;
    box-shadow: slategrey 0px 0px 6px 0px;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

.container .row-right {
    flex-grow: 6;
    padding: 10px;
}


footer {
    display: flex;
    background-color: darkslategrey;
    padding: 40px 0px;
}
footer div {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer p {
    color: whitesmoke;
}